/**
* @name Donators
* @author Lynnux
* @description A code for all donators of me
* @invite lynnux
* @version 1.0
* @source https://discord.lynnux.xyz/themes/Addons/donators.css?v=1
*/

/**
 * @name Donators
 * @author Lynnux
 * @authorId 705306248538488947
 * @authorLink https://lynnux.xyz
 * @version 1.1
 * @description A code for all donators of me.
 * @donate https://ko-fi.com/plusinsta
 * @website https://plusinsta.github.io/discord-plus
 * @source https://github.com/PlusInsta/discord-plus
 * @updateUrl https://plusinsta.github.io/discord-plus/src/DiscordPlus-source.theme.css
 * @invite 2Jwh2nS
*/

/* --===([ Donator Badge ])===-- */
.avatar__6337f:has(img[src*="705306248538488947"]) ~ .content_a6999d .username__11d8c::after,
.avatar__6337f:has(img[src*="1096285761365610576"]) ~ .content_a6999d .username__11d8c::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 14px;
  bottom: 5px;
  left: 0;
  background: url("https://cdn.discordapp.com/emojis/780152426761814036.gif?v=1") no-repeat;
  background-size: 100%;
  border-radius: 0 5px 0 0;
  pointer-events: none;
}

.layout__59abc .avatar__7bd22:has(div[aria-label*=dark_lynn]) .wrapper_edb6e0::before,
.layout__59abc .avatar__7bd22:has(div[aria-label*=akaneruwumi]) .wrapper_edb6e0::before {
content: "";
position: absolute;
width: 18px;
height: 14px;
bottom: 2px;
right: 16px;
background: url("https://cdn.discordapp.com/emojis/780152426761814036.gif?v=1") no-repeat;
background-size: 100%;
border-radius: 0 5px 0 0;
pointer-events: none;
z-index: 2
}

.avatar__08316[src*="705306248538488947"] + h3 .username_d30d99::after,
.avatar__08316[src*="1096285761365610576"] + h3 .username_d30d99::after{
  content: "";
  position: absolute;
  width: 18px;
  height: 14px;
  bottom: 2px;
  right: -26px;
  background: url("https://cdn.discordapp.com/emojis/780152426761814036.gif?v=1") no-repeat;
  background-size: 100%;
  border-radius: 0 5px 0 0;
  pointer-events: none;
  z-index: 2
}

.avatar__08316[src*="705306248538488947"] + h3 .timestamp_cdbd93,
.avatar__08316[src*="1096285761365610576"] + h3 .timestamp_cdbd93 {
  margin-left: 30px;
}

/* --===([ Dark_LYNN ])===-- */
.layout__59abc .avatar__7bd22:has(div[aria-label*=dark_lynn]) ~ .content_f767b8 .nameAndDecorators_cfd1ff .name__02dbd .overflow__87fe8,
.memberInner_a32223 .avatar__6337f:has(div[aria-label*=dark_lynn]) ~ .content_a6999d .nameAndDecorators_e34d47 .name__16feb .username__11d8c .username_d272d6,
.avatar__08316[src*="705306248538488947"] ~ .header__39b23 .headerText_f47574 .username_d30d99,
.avatar_f8541f:has(img[src*="705306248538488947"]) ~ .nameTag__0e320 .panelTitleContainer__7a748 .title__10613
.avatar_f8541f:has(img[src*="705306248538488947"]) ~ .nameTag__0e320 .panelTitleContainer__7a748 .title__10613,
div:has(img[src*="705306248538488947"]) ~ .userPanelOverlayBackground__34fc8 .section__6f61e div .userText__3e8b7 h2,
.avatarWrapper_f77579:has(img[src*="705306248538488947"]) ~ .userPopoutOverlayBackground_d8afa4 .section__6f61e .userText__3e8b7 h1,
.topSection_dfb73b:has(img[src*="705306248538488947"]) ~ .userProfileModalOverlayBackground__52d65 .body_ea740e .container_b6b15b div,
.avatar__8986c:has(img[src*="705306248538488947"]) ~ .text__923ee .info__40462 .username__81ee6{
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  background-clip: none;
  -webkit-background-clip: text;
  animation: shine-reversed 5s linear infinite;
  background-image: linear-gradient(45deg, orange, yellow, green, blue, indigo, violet, red);

}

/* --===([ Akaneruwumi ])===-- */
.layout__59abc .avatar__7bd22:has(div[aria-label*=akaneruwumi]) ~ .content_f767b8 .nameAndDecorators_cfd1ff .name__02dbd .overflow__87fe8,
.memberInner_a32223 .avatar__6337f:has(div[aria-label*=akaneruwumi]) ~ .content_a6999d .nameAndDecorators_e34d47 .name__16feb .username__11d8c .username_d272d6,
.avatar__08316[src*="1096285761365610576"] ~ .header__39b23 .headerText_f47574 .username_d30d99,
.avatar_f8541f:has(img[src*="1096285761365610576"]) ~ .nameTag__0e320 .panelTitleContainer__7a748 .title__10613,
div:has(img[src*="1096285761365610576"]) ~ .userPanelOverlayBackground__34fc8 .section__6f61e div .userText__3e8b7 h2,
.avatarWrapper_f77579:has(img[src*="1096285761365610576"]) ~ .userPopoutOverlayBackground_d8afa4 .section__6f61e .userText__3e8b7 h1,
.topSection_dfb73b:has(img[src*="1096285761365610576"]) ~ .userProfileModalOverlayBackground__52d65 .body_ea740e .container_b6b15b div,
.avatar__8986c:has(img[src*="1096285761365610576"]) ~ .text__923ee .info__40462 .username__81ee6{
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  background-clip: none;
  -webkit-background-clip: text;
  animation: shine 5s linear infinite;
  background-image: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%);
}

@keyframes shine {
  to {
    background-position: 300% center;
  }
}
@keyframes shine-reversed {
  to {
    background-position: -300% center;
  }
}
/*
⣿⡟⠙⠛⠋⠩⠭⣉⡛⢛⠫⠭⠄⠒⠄⠄⠄⠈⠉⠛⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⡇⠄⠄⠄⠄⣠⠖⠋⣀⡤⠄⠒⠄⠄⠄⠄⠄⠄⠄⠄⠄⣈⡭⠭⠄⠄⠄⠉⠙
⣿⡇⠄⠄⢀⣞⣡⠴⠚⠁⠄⠄⢀⠠⠄⠄⠄⠄⠄⠄⠄⠉⠄⠄⠄⠄⠄⠄⠄⠄
⣿⡇⠄⡴⠁⡜⣵⢗⢀⠄⢠⡔⠁⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄
⣿⡇⡜⠄⡜⠄⠄⠄⠉⣠⠋⠠⠄⢀⡄⠄⠄⣠⣆⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⢸
⣿⠸⠄⡼⠄⠄⠄⠄⢰⠁⠄⠄⠄⠈⣀⣠⣬⣭⣛⠄⠁⠄⡄⠄⠄⠄⠄⠄⢀⣿
⣏⠄⢀⠁⠄⠄⠄⠄⠇⢀⣠⣴⣶⣿⣿⣿⣿⣿⣿⡇⠄⠄⡇⠄⠄⠄⠄⢀⣾⣿
⣿⣸⠈⠄⠄⠰⠾⠴⢾⣻⣿⣿⣿⣿⣿⣿⣿⣿⣿⢁⣾⢀⠁⠄⠄⠄⢠⢸⣿⣿
⣿⣿⣆⠄⠆⠄⣦⣶⣦⣌⣿⣿⣿⣿⣷⣋⣀⣈⠙⠛⡛⠌⠄⠄⠄⠄⢸⢸⣿⣿
⣿⣿⣿⠄⠄⠄⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠇⠈⠄⠄⠄⠄⠄⠈⢸⣿⣿
⣿⣿⣿⠄⠄⠄⠘⣿⣿⣿⡆⢀⣈⣉⢉⣿⣿⣯⣄⡄⠄⠄⠄⠄⠄⠄⠄⠈⣿⣿
⣿⣿⡟⡜⠄⠄⠄⠄⠙⠿⣿⣧⣽⣍⣾⣿⠿⠛⠁⠄⠄⠄⠄⠄⠄⠄⠄⠃⢿⣿
⣿⡿⠰⠄⠄⠄⠄⠄⠄⠄⠄⠈⠉⠩⠔⠒⠉⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠐⠘⣿
⣿⠃⠃⠄⠄⠄⠄⠄⠄⣀⢀⠄⠄⡀⡀⢀⣤⣴⣤⣤⣀⣀⠄⠄⠄⠄⠄⠄⠁⢹⠀
⣿⣿⣿⠏⠉⠉⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⠀⠀⢀⣿⣿⣿⠿⠿⢿⠿⠿⢿⠿⠿⠿⠿⠿⣿⣿⠿⠿⠿⠿⠿⣿⣿⣿
⣿⣿⡟⠀⠀⣸⣿⣿⡏⠀⠀⣿⠀⠀⣸⠀⠀⠀⠀⠀⢸⡿⠀⠀⠀⠀⠀⣹⣿⣿⣿⣿
⣿⣿⡇⠀⠀⠛⠛⠛⡇⠀⠀⠇⠀⠀⡟⠀⠀⡞⠀⠀⠼⠇⠀⠀⡇⠀⠀⢿⣿⣿⣿⣿
⣿⣿⡃⠀⠀⠀⠀⢠⡇⠀⠀⠀⠀⢀⣇⣀⣀⣧⡀⠀⣀⣀⣀⣠⣆⠀⠀⣸⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⠁⠀⠈⠀⠀⣼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣧⣤⣤⣤⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
*/

/*
  content: "This is the ::before content";
  color: red;
  border: 2px solid red; 
*/